<section>
  <div class="lg:py-24 py-[74px] md:rounded-lg shadow dark:shadow-gray-800 bg-violet-700/10 dark:bg-violet-600/20">
    <div class="container">
      <div class="grid grid-cols-1 pb-8 mt-10 text-center">
        <h3 class="text-2xl font-medium leading-snug tracking-wide text-white md:text-3xl md:leading-snug">
          About BsvCloud | Cryptocurrency Cloud Mining Platform
        </h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="px-3 py-5 mx-auto md:py-10 xl:px-20 max-w-7xl">
    <div class="grid items-center grid-cols-1 gap-5 md:grid-cols-2 xl:gap-10">
      <div class="">
        <img class="about-img" src="/assets/images/about-2.jpg" alt="">
      </div>
      <div class="about-style">
        <div class="text-left"><span class="mb-2 tracking-wider uppercase text-violet-700">ABOUT US</span>
          <h3 class="mt-3 md:text-[30px] text-[26px] font-semibold mb-3"> BsvCloud Company Profile
          </h3>
          <p> Founded in 2017 and based in the United Kingdom, BsvCloud is a leading provider of cloud mining services,
            offering users an opportunity to mine cryptocurrencies without the need to own expensive hardware or
            navigate the complexities of traditional mining. With a rapidly growing global user base of over 500,000,
            BsvCloud has become a trusted platform for individuals seeking passive income through cryptocurrency mining.
          </p>
          <p class="mt-5"> Our platform provides a variety of mining plans for different cryptocurrencies, allowing
            users to select the option that best aligns with their needs and preferences. By leveraging cloud-based
            infrastructure, BsvCloud enables users to mine Bitcoin and other digital assets faster and more efficiently
            than our competitors. Withdrawals are quick and easy, ensuring that users can access their earnings without
            delay. </p>
          <p class="mt-5"> At BsvCloud, we are dedicated to making mining simple, reliable, and secure. Whether you're a
            novice or an experienced miner, our platform is designed to be intuitive, providing a smooth experience for
            all. We offer a profitable and sustainable solution to cryptocurrency mining, powered by renewable solar
            energy in our mining centers. This ensures that users can enjoy large mining capacities without the
            environmental impact and logistical challenges of managing their own hardware. </p>
          <p class="mt-5"> With BsvCloud, you can start mining from anywhere using only your phone or computer. There’s
            no need to worry about the noise, heat, or maintenance that come with traditional mining rigs. Simply enter
            into one of our many mining plans, and you'll start earning returns based on the terms of your agreement.
          </p>
          <p class="mt-5"> As a cutting-edge cloud mining platform, BsvCloud is revolutionizing the industry by making
            cryptocurrency mining accessible, efficient, and secure. Our commitment to innovation, sustainability, and
            user-friendly design positions us as a top choice for cryptocurrency enthusiasts around the world. </p>

          <div class="mt-5">
            <a routerLink="/sign-up"
              class="text-white bg-violet-700 hover:bg-violet-800 font-medium rounded-full text-sm px-4 py-2 md:px-5 md:py-2.5 focus:outline-none text-center mx-auto">
              Join Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="grid grid-cols-1 py-20 text-center">
    <span class="mb-2 tracking-wider uppercase text-violet-700"> JOIN US
    </span>
    <h3 class="md:text-[30px] text-[26px] font-semibold mb-3">
      How To Work With BsvCloud?
    </h3>

    <div class="px-3 mx-auto xl:px-20 max-w-7xl">
      <div class="grid xl:grid-cols-3 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-[30px] mt-10">
        <div
          class="relative p-6 mt-10 text-center transition-all duration-500 shadow choose-card group rounded-xl bg-slate-900 shadow-gray-800 hover:shadow-md hover:shadow-gray-800">
          <div class="relative -mt-16">
            <div
              class="flex items-center justify-center p-3 mx-auto rounded-full shadow-md icon bg-slate-900 size-20 shadow-gray-800 our-feature-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" class="text-violet-700 fill-violet-700" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" data-v-86690ec2="">
                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" data-v-86690ec2=""></path>
                <circle cx="9" cy="7" r="4" data-v-86690ec2=""></circle>
                <path d="M23 21v-2a4 4 0 0 0-3-3.87" data-v-86690ec2=""></path>
                <path d="M16 3.13a4 4 0 0 1 0 7.75" data-v-86690ec2=""></path>
              </svg>
            </div>
            <h5 class="mt-5 text-lg font-semibold">
              SIGN UP
            </h5>
            <p class="mt-3 text-slate-400">
              Fill in the form and get ready to start mining in less than 1 minute
            </p>
          </div>
        </div>
        <div
          class="relative p-6 mt-10 text-center transition-all duration-500 shadow choose-card group rounded-xl bg-violet-700 shadow-gray-800 hover:shadow-md hover:shadow-gray-800">
          <div class="relative -mt-16">
            <div
              class="flex items-center justify-center p-3 mx-auto rounded-full shadow-md icon bg-slate-900 size-20 shadow-gray-800 our-feature-item">

              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                class="text-violet-700 fill-violet-700" data-v-86690ec2="">
                <path fill="currentColor"
                  d="M17.09 2.82a8 8 0 0 0-6.68-1.66a8 8 0 0 0-6.27 6.32a8.07 8.07 0 0 0 1.72 6.65A4.54 4.54 0 0 1 7 17v3a3 3 0 0 0 3 3h4a3 3 0 0 0 3-3v-2.81A5.17 5.17 0 0 1 18.22 14a8 8 0 0 0-1.13-11.2ZM15 20a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-1h6Zm1.67-7.24A7.13 7.13 0 0 0 15 17h-2v-3a1 1 0 0 0-2 0v3H9a6.5 6.5 0 0 0-1.6-4.16a6 6 0 0 1 3.39-9.72A6 6 0 0 1 18 9a5.9 5.9 0 0 1-1.33 3.76"
                  data-v-86690ec2=""></path>
              </svg>
            </div>
            <h5 class="mt-5 text-lg font-semibold">
              PURCHASE A PLAN
            </h5>
            <p class="mt-3 text-white">
              Choose one of the most profitable plans and start cloud mining
            </p>
          </div>
        </div>
        <div
          class="relative p-6 mt-10 text-center transition-all duration-500 shadow choose-card group rounded-xl bg-slate-900 shadow-gray-800 hover:shadow-md hover:shadow-gray-800">
          <div class="relative -mt-16">
            <div
              class="flex items-center justify-center p-3 mx-auto rounded-full shadow-md icon bg-slate-900 size-20 shadow-gray-800 our-feature-item">

              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                class="text-violet-700" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" data-v-86690ec2="">
                <circle cx="12" cy="12" r="10" data-v-86690ec2=""></circle>
                <circle cx="12" cy="12" r="6" data-v-86690ec2=""></circle>
                <circle cx="12" cy="12" r="2" data-v-86690ec2=""></circle>
              </svg>
            </div>
            <h5 class="mt-5 text-lg font-semibold">
              GET PAID
            </h5>
            <p class="mt-3 text-slate-400">
              Withdraw your mining income on a daily basis to your crypto wallet
            </p>
          </div>
        </div>

      </div>

      <div class="mt-5 md:mt-10">
        <a routerLink="/sign-up"
          class="text-white bg-violet-700 hover:bg-violet-800 font-medium rounded-full text-sm px-4 py-2 md:px-5 md:py-2.5 focus:outline-none text-center mx-auto">
          Join Now
        </a>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="px-3 py-5 mx-auto xl:px-20 max-w-7xl">
    <div class="grid grid-cols-1 py-10 text-center">
      <span class="mb-2 tracking-wider uppercase text-violet-700"> TESTIMONIALS
      </span>
      <h3 class="md:text-[30px] text-[26px] font-semibold mb-3">
        What our respectable clients says
      </h3>
    </div>

    <div class="grid grid-cols-1 gap-5 md:grid-cols-3">
      <div class="px-3 py-10 text-white bg-[#060d1e] rounded-xl">
        <div class="mb-4 min-h-28">
          <p>Solid Investment Platform</p>
          <p> I’ve been here for months, and Bsvcloud consistently delivers solid profits without any issues. </p>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-12 h-12 overflow-hidden rounded-full">
            <img src="https://bsvcloud.com/img/1.dfd8cdbb.png" alt="" class="w-full">
          </div>
          <div>Amelia Childe </div>
        </div>
      </div>
      <div class="px-3 py-10 text-white bg-[#060d1e] rounded-xl">
        <div class="mb-4 min-h-28">
          <p>Perfect for Passive Income</p>
          <p>Set it and forget it. Bsvcloud has been a great way to earn passive income with minimal effort.
          </p>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-12 h-12 overflow-hidden rounded-full">
            <img src="https://bsvcloud.com/img/2.caef3def.png" alt="" class="w-full">
          </div>
          <div>Charles Gallup
          </div>
        </div>
      </div>
      <div class="px-3 py-10 text-white bg-[#060d1e] rounded-xl">
        <div class="mb-4 min-h-28">
          <p>No Hidden Fees
          </p>
          <p>What you see is what you get. No surprise fees or unclear terms—Bsvcloud is completely transparent.
          </p>
        </div>
        <div class="flex items-center gap-2">
          <div class="w-12 h-12 overflow-hidden rounded-full">
            <img src="https://bsvcloud.com/img/3.e5bf84e2.png" alt="" class="w-full">
          </div>
          <div>Ford Child
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="px-3 py-10 mx-auto xl:px-20 max-w-7xl">
    <div class="text-center">
      <span class="relative p-3 font-medium tracking-widest uppercase rounded-lg section-title">
        Our partners
      </span>
    </div>

    <div class="grid grid-cols-2 gap-3 mt-3 sm:grid-cols-3 xl:grid-cols-6 md:gap-5 sm:mt-5">
      <div>
        <img src="/assets/images/yahoo.png" alt="" class="max-w-full">
      </div>
      <div>
        <img src="/assets/images/globe.png" alt="" class="max-w-full">
      </div>
      <div>
        <img src="/assets/images/binance.png" alt="" class="max-w-full">
      </div>
      <div>
        <img src="/assets/images/coingape.png" alt="" class="max-w-full">
      </div>
      <div>
        <img src="/assets/images/gg.png" alt="" class="max-w-full">
      </div>
      <div>
        <img src="/assets/images/coinpedia.png" alt="" class="max-w-full">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="px-3 mx-auto xl:px-20 max-w-7xl xl:my-20">
    <div class="relative start-mining h-auto md:h-[350px] p-5">
      <div class="grid items-center h-full grid-cols-1 lg:grid-cols-2 md:grid-cols-2">
        <div class="pl-3 md:pl-14">
          <h2 class="mb-3 text-2xl text-white md:text-4xl">
            Start your first mining with BsvCloud.
          </h2>
          <div class="mt-5">
            <a routerLink="/sign-up"
              class="bg-white text-violet-700 hover:bg-violet-800 hover:text-white font-medium rounded-full text-sm px-4 py-2 md:px-5 md:py-2.5 focus:outline-none w-full text-center">Get
              Started</a>
          </div>
        </div>
        <div class="relative flex items-center justify-center h-full text-center">
          <img class="md:absolute -top-14" src="https://bsvcloud.com/img/under.fccf82f6.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>