<section class="py-10">
  <div class="flex justify-center">
    <div class="max-w-[500px] w-full m-auto p-6 bg-[#00081b] shadow-md shadow-gray-800 rounded-md">
      <a routerLink="/"><img src="/assets/images/logo.png" class="block mx-auto h-7" alt="" /></a>
      <h5 class="my-6 text-xl font-semibold">Sign In</h5>
      <form class="text-start" [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="grid grid-cols-1">
          <div class="mb-4">
            <label class="font-semibold" for="LoginEmail">Email Address:</label>
            <input id="LoginEmail" type="email"
              class="form-input w-full text-[15px] py-2 px-3 h-10 bg-[#00081b] text-slate-200 rounded-full outline-none border border-gray-800 focus:border-violet-600 focus:ring-0 mt-3"
              placeholder="Enter your email" [formControl]="email" />
          </div>
          <div class="mb-4">
            <label class="font-semibold" for="LoginPassword">Password:</label>
            <input id="LoginPassword" type="password"
              class="form-input w-full text-[15px] py-2 px-3 h-10 bg-transparent bg-[#00081b] text-slate-200 rounded-full outline-none border border-gray-800 focus:border-violet-600 focus:ring-0 mt-3"
              placeholder="Enter your password" [formControl]="password" />
          </div>
          <div class="flex justify-between mb-4">
            <p class="mb-0 text-slate-400">
              <a href="###" class=" text-slate-400">Forgot password ?</a>
            </p>
          </div>
          <div class="mb-4">
            <button type="submit"
              class="text-white bg-violet-700 hover:bg-violet-800 font-medium rounded-full text-sm px-4 py-2 md:px-5 md:py-2.5 focus:outline-none w-full text-center cursor-pointer"
              (click)="onLogin()">Sign in</button>

          </div>
          <div class="text-center">
            <span class="text-slate-400 me-2">Don't have an account ?</span><a routerLink="/sign-up"
              class="font-bold text-white">Sign Up </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section>
  <div class="px-3 mx-auto xl:px-20 max-w-7xl xl:my-20">
    <div class="relative start-mining h-auto md:h-[350px] p-5">
      <div class="grid items-center h-full grid-cols-1 lg:grid-cols-2 md:grid-cols-2">
        <div class="pl-3 md:pl-14">
          <h2 class="mb-3 text-2xl text-white md:text-3xl">
            Start your first mining with BsvCloud.
          </h2>
          <div class="mt-5">
            <a routerLink="/sign-up"
              class="bg-white text-violet-700 hover:bg-violet-800 hover:text-white font-medium rounded-full text-sm px-4 py-2 md:px-5 md:py-2.5 focus:outline-none w-full text-center">Get
              Started</a>
          </div>
        </div>
        <div class="relative flex items-center justify-center h-full text-center">
          <img class="md:absolute -top-14" src="/assets/images/under.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>