.our-feature-item {
  position: relative;
}
.our-feature-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.2;
  border-radius: 50px;
  background: -o-linear-gradient(
    left,
    rgb(118, 31, 227) 0px,
    rgb(208, 147, 232)
  );
  background: linear-gradient(90deg, rgb(118, 31, 227) 0px, rgb(208, 147, 232));
  opacity: 0.2;
}

.section-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #7c3aed),
    to(#d093e8)
  );
  background: -o-linear-gradient(left, #7c3aed 0, #d093e8);
  background: linear-gradient(90deg, #7c3aed 0, #d093e8);
  border-radius: 4px;
  z-index: -1;
  opacity: 0.6;
}

.animation {
  position: relative;
  will-change: transform;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-90%, 0, 0);
  }
}
