<section>
  <div class="lg:py-24 py-[74px] md:rounded-lg shadow dark:shadow-gray-800 bg-violet-700/10 dark:bg-violet-600/20">
    <div class="container">
      <div class="grid grid-cols-1 pb-8 mt-10 text-center">
        <h3 class="text-2xl font-medium leading-snug tracking-wide text-white md:text-3xl md:leading-snug">
          BsvCloud App
        </h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="px-3 py-5 mx-auto md:py-10 xl:px-20 max-w-7xl">
    <div class="grid items-center grid-cols-1 gap-5 md:grid-cols-2 xl:gap-10">
      <div class="w-full">
        <img class="mx-auto about-img" src="/assets/images/app-1.png" alt="">
      </div>
      <div class="w-full">
        <div class="text-left">
          <h3 class="mt-3 md:text-[30px] text-[26px] font-semibold mb-3"> BsvCloud Awesome Mining APP
          </h3>
          <p>BsvCloud Cloud Mining APP has achieved 1.1 million downloads and has 510,000 followers. It offers more than
            20 mining plan contracts and serves customers in more than 100 countries around the world. Its broad user
            base and diverse mining options demonstrate its popularity and reliability in the market.
          </p>
          <div class="mt-5">
            <div class="max-w-48">
              <img src="/assets/images/qr.png" alt="" class="w-full max-w-full">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="px-3 py-5 mx-auto md:py-10 xl:px-20 max-w-7xl">
    <div class="grid items-center grid-cols-1 gap-5 md:grid-cols-2 xl:gap-10">
      <div class="w-full">
        <div class="text-left">
          <div class="text-left">
            <h3 class="mt-3 md:text-[30px] text-[26px] font-semibold mb-3 leading-10">Mine Directly from the BsvCloud
              APP
            </h3>
            <p>Download the BsvCloud APP today to enjoy a seamless mining order management experience. Gain access to
              real-time data and track your mining portfolio from anywhere, at any time. The BsvCloud APP provides an
              easy and convenient way to purchase and manage mining plans, helping you grow your revenue efficiently.
            </p>
            <ul class="mt-5 affiliate-list">
              <li class="flex gap-3 mb-3">
                <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-check text-violet-700" data-v-1badc801="">
                    <polyline points="20 6 9 17 4 12" data-v-1badc801=""></polyline>
                  </svg></div>
                <p> Easy Start With Mining </p>
              </li>
              <li class="flex gap-3 mb-3">
                <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-check text-violet-700" data-v-1badc801="">
                    <polyline points="20 6 9 17 4 12" data-v-1badc801=""></polyline>
                  </svg></div>
                <p> One-click Mining
                </p>
              </li>
              <li class="flex gap-3 mb-3">
                <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-check text-violet-700" data-v-1badc801="">
                    <polyline points="20 6 9 17 4 12" data-v-1badc801=""></polyline>
                  </svg></div>
                <p>Real-time Manage
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-full">
        <img class="mx-auto about-img" src="/assets/images/app-2.png" alt="">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="px-3 mx-auto md:mt-32 xl:px-20 max-w-7xl xl:mt-64 lg:mt-60">
    <div class="relative start-mining h-auto md:h-[350px] p-5">
      <div class="grid items-center h-full grid-cols-1 lg:grid-cols-2 md:grid-cols-2">
        <div class="pl-3 md:pl-14">
          <h2 class="mb-3 text-2xl text-white md:text-3xl">
            Download BsvCloud to Start Mining Today!
          </h2>
          <div class="mt-5">
            <div class="max-w-48">
              <img src="/assets/images/qr.png" alt="" class="w-full max-w-full">
            </div>
          </div>
        </div>
        <div class="relative flex items-center h-full gap-5 mt-5 text-center justify-evenly md:mt-0">
          <img class="md:absolute bottom-2 md:right-[20%] lg:right-[40%] md:w-1/2 w-1/3" src=" /assets/images/app-4.png"
            alt="" />
          <img class="md:absolute bottom-2 md:right-[5%] lg:right-[20%] md:w-1/2 w-1/3" src=" /assets/images/app-3.png"
            alt="" />
        </div>
      </div>
    </div>
  </div>
</section>